@font-face {
  font-family: poppins_bold;
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: poppins_regular;
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: poppins_extra_light;
  src: url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: poppins_black;
  src: url("./fonts/Poppins-Black.ttf") format("truetype");
}
@font-face {
  font-family: poppins_black_italic;
  src: url("./fonts/Poppins-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: poppins_bold_italic;
  src: url("./fonts/Poppins-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: poppins_extra_bold;
  src: url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: poppins_extra_bold_italic;
  src: url("./fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: poppins_extra_light_italic;
  src: url("./fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: poppins_italic;
  src: url("./fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: poppins_light;
  src: url("./fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: poppins_lightItalic;
  src: url("./fonts/Poppins-lightItalic.ttf") format("truetype");
}
@font-face {
  font-family: poppins_medium;
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: poppins_medium_italic;
  src: url("./fonts/Poppins-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: poppins_semibold;
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: poppins_semibold_italic;
  src: url("./fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: poppins_thin;
  src: url("./fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: poppins_thin_italic;
  src: url("./fonts/Poppins-ThinItalic.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
   
  }

  body{
    height: 100%;
  }